a.cta(target="_blank" rel="nofollow" href="https://buddy.works?utm_source=remysharp&utm_medium=referral&utm_campaign=remysharp_bz&utm_content=review")
  img(src="/images/buddy-spon.png" style="margin-left: 10px")
  div
    p
      span.label SPONSOR
      strong Buddy: The DevOps Automation Platform
    p.desc Get the most powerful and easy-to-configure continuous integration and delivery platform.
    p
      strong
        span.like-link Sign up today for free
