a.cta(rel="nofollow" href="https://ko-fi.com/s/57e38e71bb")
  img(src="/images/cli-book.jpg")
  div
    p
      span.label MY EBOOK
      strong £5 for Working the Command Line
    p.desc Gain command-line shortcuts and processing techniques, install new tools and diagnose problems, and fully customize your terminal for a better, more powerful workflow.
    p
      strong
        span.like-link £5 to own it today
