a.cta(target="_blank" rel="nofollow" href=`https://${new Date().getFullYear()}.ffconf.org/?ref=blog`)
  img(src="/images/ffconf-ad.jpg")
  div
    p
      span.label UK EVENT
      strong Attend ffconf.org #{new Date().getFullYear()}
    p.desc The conference for people who are passionate about the web. 8&nbsp;amazing speakers with real human interaction and content you can't just read in a blog post or watch on a tiktok!
    p
      strong
        span.like-link £249+VAT - reserve your place today
