a.cta(target="_blank" rel="nofollow" href=`https://2019.ffconf.org/workshop/next/?utm_source=blog&utm_medium=banner&utm_campaign=${new Date().getFullYear()}#workshop`)
  img(src="/images/next.jpg" width="140")
  div
    p
      span.label MY WORKSHOP
      strong Master Next.js
    p.desc Everything you need to master universal React with Next.js in a single intense master class. Includes full pass to ffconf, the web developer conf.
    p
      strong
        span.like-link £449+VAT - only from this link
