.h-entry {
  display: grid;
  gap: clamp(1rem, 4vw, 2rem);

  @media (min-width: 768px) {
    grid-template-areas: '. header' 'meta body';
    grid-template-columns: minmax(150px, 1fr) 3fr;

    & > h1:first-of-type {
      grid-area: header;
    }

    & > .misc-content {
      grid-area: meta;
      & > :first-child {
        margin-top: 0;
      }
    }

    & > .post-content {
      grid-area: body;

      & > :first-child {
        margin-top: 0;
      }
    }
  }
}

.h-entry,
main.content {
  article.post .post-content,
  .e-content {
    color: var(--c-text-primary);
    font-family: var(--f-article);
    hyphens: auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol {
      max-width: 60ch;
    }

    ul,
    ol {
      padding-left: 20px;
    }

    figure {
      position: relative;
      img {
        max-width: 100%;
        border-radius: 4px;
      }
      figcaption {
        font-family: var(--f-mono);
        font-size: 90%;
        text-align: center;
        opacity: 0.8;

        @media (min-width: 768px) {
          left: -216px;
          position: absolute;
          top: 0;
          width: 200px;
          text-align: right;
          border-top: 2px solid;
          padding-top: 12px;
          margin-top: 2px;
          line-height: 1.3;
        }
      }
    }

    hr {
      border: 0;
      border-top: 1px solid #ccc;
      margin: 2rem 0;
    }

    .u-url {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .webmentions {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    align-items: center;

    div {
      display: flex;
      gap: 4px;
      flex-wrap: wrap;
      align-items: center;

      img {
        display: block;
        border-radius: 8px;
      }
    }

    a {
      display: block;
    }
  }
}
