@font-face {
  font-family: 'NotoSerif';
  src: url('./fonts/NotoSerif.latin.nowdth.woff2') format('woff2');
  font-weight: 100 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSerif';
  src: url('./fonts/NotoSerif-Italic.latin.nowdth.woff2') format('woff2');
  font-weight: 100 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'VictorMono';
  src: url('./fonts/VictorMonoXH_XHGT-wght.woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VictorMono';
  src: url('./fonts/VictorMonoXH-Italic_XHGT-wght.woff2') format('woff2');
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./fonts/LibreFranklinTab[wght].woff2') format('woff2');
  font-weight: 100 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('./fonts/LibreFranklinTab-Italic[wght].woff2') format('woff2');
  font-weight: 100 700;
  font-style: italic;
  font-display: swap;
}
