/*! system-font.css v1.1.0 | CC0-1.0 License | github.com/jonathantneal/system-font-face */

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'),
    local('.LucidaGrandeUI'), local('Ubuntu Light'), local('Segoe UI Light'),
    local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 300;
  src: local('.SFNSText-LightItalic'),
    local('.HelveticaNeueDeskInterface-Italic'), local('.LucidaGrandeUI'),
    local('Ubuntu Light Italic'), local('Segoe UI Light Italic'),
    local('Roboto-LightItalic'), local('DroidSans'), local('Tahoma');
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local('.SFNSText-Regular'), local('.HelveticaNeueDeskInterface-Regular'),
    local('.LucidaGrandeUI'), local('Ubuntu'), local('Segoe UI'),
    local('Roboto-Regular'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 400;
  src: local('.SFNSText-Italic'), local('.HelveticaNeueDeskInterface-Italic'),
    local('.LucidaGrandeUI'), local('Ubuntu Italic'), local('Segoe UI Italic'),
    local('Roboto-Italic'), local('DroidSans'), local('Tahoma');
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 500;
  src: local('.SFNSText-Medium'), local('.HelveticaNeueDeskInterface-MediumP4'),
    local('.LucidaGrandeUI'), local('Ubuntu Medium'), local('Segoe UI Semibold'),
    local('Roboto-Medium'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 500;
  src: local('.SFNSText-MediumItalic'),
    local('.HelveticaNeueDeskInterface-MediumItalicP4'),
    local('.LucidaGrandeUI'), local('Ubuntu Medium Italic'),
    local('Segoe UI Semibold Italic'), local('Roboto-MediumItalic'),
    local('DroidSans-Bold'), local('Tahoma Bold');
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 700;
  src: local('.SFNSText-Bold'), local('.HelveticaNeueDeskInterface-Bold'),
    local('.LucidaGrandeUI'), local('Ubuntu Bold'), local('Roboto-Bold'),
    local('DroidSans-Bold'), local('Segoe UI Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system;
  font-style: italic;
  font-weight: 700;
  src: local('.SFNSText-BoldItalic'),
    local('.HelveticaNeueDeskInterface-BoldItalic'), local('.LucidaGrandeUI'),
    local('Ubuntu Bold Italic'), local('Roboto-BoldItalic'),
    local('DroidSans-Bold'), local('Segoe UI Bold Italic'), local('Tahoma Bold');
  -webkit-font-smoothing: antialiased;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

/* Mixins */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
iframe {
  display: block;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}
blockquote,
q {
  quotes: '' '';
}
html {
  font-size: 120%;
  background: #000000 no-repeat -50px 0px;
}
body {
  padding: 0;
  font: 0.625em system, 'Noto Sans', 'helvetica neue', arial, sans-serif;
  color: #212121;
  background: #fafafa;
  font-size: 100%;
  font-weight: 400;
  line-height: 32px;
  margin: 0 auto 15px auto;
  margin-bottom: 0;
  max-width: 800px;
}
img,
video {
  max-width: 100%;
  height: auto;
}
a {
  color: #1565c0;
  text-decoration: none;
  border-bottom: 1px solid #1565c0;
}
a:hover,
a:focus {
  background: #1f296c;
  color: #fff;
  border-bottom: none;
  text-decoration: none;
  padding: 2px 0;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.1;
}
h1 {
  font-size: 180%;
  font-weight: 600;
  line-height: 42px;
}
h2 {
  font-size: 180%;
  margin-top: 40px;
}
h3 {
  font-size: 150%;
}
h3,
h4,
h5,
h6 {
  margin: 16px 0;
}
h4 {
  font-size: 125%;
}
p {
  margin: 28px 0;
}
small {
  display: inline-block;
  line-height: 24px;
  font-size: 80%;
}
strong {
  font-weight: bold;
}
#index-page h1,
#index-page h2 {
  color: white;
}
#index-page h1 a,
#index-page h2 a {
  color: white;
  border-color: white;
}
#index-page h1 {
  background: #444444;
}
#index-page article:nth-child(3n + 0) h2.title {
  background: #6d6d6d;
}
#index-page article:nth-child(3n + 1) h2.title {
  background: #888888;
}
#index-page article:nth-child(3n + 2) h2.title {
  background: #a3a3a3;
}
.post h1.title {
  margin-top: 0;
}
.post h2.title {
  padding: 20px;
}
.post header h2.title {
  padding: 20px 60px;
}
h1.title,
h2.title {
  position: relative;
  background: #eee;
  padding: 20px 60px;
  color: #000;
  margin: 20px 0 20px 0;
}
h1.title a,
h2.title a {
  color: black;
  text-decoration: none;
  border-bottom: none;
}
h1.title a:focus,
h2.title a:focus,
h1.title a:hover,
h2.title a:hover {
  background: none;
  border-bottom: 2px solid black;
}
.post-content,
.comments {
  position: relative;
  margin: 0 40px 20px 40px;
  padding: 0 20px;
}
.subpanel {
  background: #1a1a1a;
  color: #808080;
}
.subpanel a {
  color: #999999;
  border-color: #999999;
}
.subpanel a:hover,
.subpanel a:focus {
  background-color: #444;
  border: none;
  color: #cccccc;
  padding: 2px 0;
}
nav form.search {
  height: 0;
  padding: 0px;
  position: relative;
  overflow: hidden;
  -webkit-transition: height 50ms ease-in-out;
  -moz-transition: height 50ms ease-in-out;
  -o-transition: height 50ms ease-in-out;
  -ms-transition: height 50ms ease-in-out;
  transition: height 50ms ease-in-out;
}
nav form.search.show {
  height: 45px;
}
nav form.search input[type='text'] {
  width: 80%;
  border: 0;
  margin: 10px;
}
nav form.search input[type='submit'] {
  margin: 10px;
  background: #ccc;
  position: absolute;
  width: 20%;
  right: 0;
  border: 0;
}
ul.post-nav {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 90%;
}
ul.post-nav li {
  display: inline;
  padding: 10px 20px;
  float: right;
  padding-right: 20px;
}
ul.post-nav li.home {
  float: left;
}
ul.post-nav li.next a:after {
  content: ' »';
}
ul.post-nav li.search {
  float: left;
  padding-left: 0;
}
ul.post-nav li.search a {
  border-bottom: none;
  display: inline-block;
  text-indent: -9999px;
  background: url(/images/search.svg) no-repeat 0 4px;
  width: 24px;
  padding: 0;
}
ul.post-nav li.prev a:before {
  content: '« ';
}
