@subpanel-background: lighten(black, 10%);
@subpanel-color: lighten(@subpanel-background, 40%);
@code-background: rgb(63, 63, 63);
@code-foreground: lighten(@code-background, 50%);
@code-font: menlo, monaco, courier, 'courier new', 'lucida console', monospace;

/* Mixins */
.transition (@prop: all, @time: 1s, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  -ms-transition: @prop @time @ease;
  transition: @prop @time @ease;
}

.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.flexbox(@dir:row, @justifycontent:flex-start) {
  width:100%;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display: -webkit-flex;
  display:flex;

  .flexdirection(@dir);
  .flexjustify(@justifycontent);

  .no-flexboxlegacy & { .clearfix();
    > * { float:left; }
  }
}

.flexdirection(@dir:row) when(@dir = row) {
  -webkit-box-orient:horizontal;
  -moz-box-orient:horizontal;
  -ms-box-orient:horizontal;
}
.flexdirection(@dir:row) when(@dir = column) {
  -webkit-box-orient:vertical;
  -moz-box-orient:vertical;
  -ms-box-orient:vertical;
}
.flexdirection(@dir) {
  -webkit-flex-direction:@dir;
  -ms-flex-direction:@dir;
  flex-direction:@dir;
}

.flexjustify(@jc: flex-start) when(@jc = flex-start) {
  -webkit-box-pack:start;
  -moz-box-pack:start;
  -ms-box-pack:start;
}
.flexjustify(@jc: flex-start) when(@jc = flex-end) {
  -webkit-box-pack:end;
  -moz-box-pack:end;
  -ms-box-pack:end;
}
.flexjustify(@jc: flex-start) when(@jc = space-between) {
  -webkit-box-pack:justify;
  -moz-box-pack:justify;
  -ms-box-pack:justify;
}
.flexjustify(@jc) {
  -webkit-justify-content:@jc;
  justify-content:@jc;
}

.flex(@var: 1, @total: 1) {
  -webkit-box-flex:@var;
  -moz-box-flex:@var;
  -webkit-flex:@var;
  -ms-flex:@var;
  flex:@var;
  // .no-flexbox & {
  //   width: @var/@total*100%;
  // }
}

.order(@number){
  -webkit-box-ordinal-group: @number;
  -moz-box-ordinal-group: @number;
  -ms-flex-order: @number;
  -webkit-order: @number;
  order: @number;
}


// // Flex Direction and Wrap
// // - applies to: flex containers
// // <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
  -webkit-flex-flow: @flow;
     -moz-flex-flow: @flow;
      -ms-flex-flow: @flow;
          flex-flow: @flow;
}

// slap it on everything styles
* {
  box-sizing: border-box;
}

// RESET (http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/)
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #212121;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

// here be my styles

html {
  font-size: 120%;
  background: rgb(0, 0, 0) url(../images/background.png) no-repeat -50px 0px;
}

body {
  padding: 0;
  font: 0.625em 'helvetica neue', arial, sans-serif;
  font-size: 100%;
  font-weight: 300;
  line-height: 32px;
  background: rgb(255, 255, 255);
  margin: 0 auto 15px auto;
  max-width: 800px;
}

img {
  max-width: 100%;
}

hr {
  border: 0;
  border-top: 1px solid #aaa;
}

a {
  color: #00126C;
  text-decoration: underline;

  &:hover,
  &:focus {
    background: #1F296C;
    color: #fff;
    text-decoration: none;
    // outline: 3px solid #1F296C;
    padding: 2px 0;
  }
}

h1 {
  font-size: 180%;
  font-weight: 600;
  line-height: 42px;
}

h2 {
  font-size: 160%;
  margin-top: 40px;
}

h3 {
  font-size: 130%;
}

h3, h4, h5, h6 {
  font-weight: 200;
  margin: 16px 0;
}

p {
  margin: 28px 0;
}

small {
  display: inline-block;
  line-height: 24px;
  font-size: 80%;
}

strong {
  font-weight: bold;
}

blockquote {
  background: rgb(235, 235, 235) url(../images/quote.gif) no-repeat -7px bottom;
  padding: 10px;
  margin: 10px 0;
  font-size: 95%;

  p {
    margin: 18px 0;
  }
}

em {
  font-style: italic;
}

del {
  text-decoration: strike;
  color: rgb(164, 164, 164);

  a {
    color: rgb(164, 164, 164);
  }

  &:before {
    font-weight: bold;
    content: '- ';
    color: red;
    position: absolute;
    left: 25px;
    font-size: 80%;
  }
}


ins {
  text-decoration: none;

  &:before {
    font-weight: bold;
    color: green;
    font-size: 80%;
    content: '+ ';
    position: absolute;
    left: 23px;
  }
}

code {
  font-family: @code-font;
  background: rgb(232, 230, 230);
  padding: 2px;
  font-size: 0.9rem;
}

pre code {
  color: @code-foreground;
  background: @code-background;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

pre {
  font-family: @code-font;
  margin: 10px 0;
  line-height: 1.475;
  color: @code-foreground;
  background: @code-background;
  border: 1px solid lighten(@code-background, 20%);
  border-radius: 2px;
  direction: ltr;
  text-align: left;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  word-wrap: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  overflow-x: scroll;
  display: block;
  width: 100%;
  overflow: auto;
  max-width: 100%;

  code {
    word-wrap: -moz-break-word;
    word-wrap: break-word;
    white-space: pre;
    word-wrap: normal;
    display: table-cell !important;
    /* because iOS is just weird */
    -webkit-text-size-adjust: none;
  }
}

ol {
  line-height: 1.3;
  list-style-type: decimal;
  list-style-position: outside;

  li {
    margin-left: 22px;
  }

}

ul {
  padding-left: 40px;
  list-style: square;
}

ol, ul {
  margin: 12px 0;

  li {
    padding: 3px 0;
  }

  ul {
    padding-left: 0px;
  }

  ol {
    margin: 0;
  }

  h3, p {
    margin: 0;
  }

  h3 {
    margin-top: 10px;
  }

  br {
    display: none;
  }
}

legend {
  color: #ccc;
  font-size: 120%;
  padding: 0 2px;
}

input,
textarea,
select {
  font-family: arial, verdana;
  font-size: 105%;
  padding: 7px;
}

input,
textarea {
  padding: 6px;
  border: 1px solid #aaa;
  background: #fff no-repeat scroll -3px -3px;

  &:focus {
    border: 1px solid #666;
  }
}

label {
  display: block;
  float: left;
  width: 75px;
  margin: 10px 5px 0 0;
}

textarea {
  height: 100px;
  width: 97%;
}

.anchor:hover {
  background: transparent;
  outline: none;
}

h1.title,
h2.title {
  position: relative;
  background: #eee;
  padding: 20px 60px;
  color: #000;
  margin: 20px 0 20px 0;

  a {
    color: black;
    text-decoration: none;

    &:focus,
    &:hover {
      background: none;
      text-decoration: underline;
      outline: none;
    }
  }
}

#index-page {
  @index-heading-bg: lighten(#000, 80%);

  h1, h2 {
    color: white;

    a {
      color: white;
    }
  }

  h1 {
    background: multiply(@index-heading-bg, #555);
  }

  article:nth-child(3n+0) h2.title {
    background: multiply(@index-heading-bg, #888);
  }

  article:nth-child(3n+1) h2.title {
    background: multiply(@index-heading-bg, #aaa);
  }

  article:nth-child(3n+2) h2.title {
    background: multiply(@index-heading-bg, #ccc);
  }

}

.post {
  h1.title {
    margin-top: 0;
  }

  h2.title {
    padding: 20px;
  }

  header h2.title {
    padding: 20px 60px
  }
}

.hljs {
  background: #EAEEEF;
  color: #555;
}

.post-content,
.comments {
  position: relative;
  margin: 0 40px 20px 40px;
  padding: 0 20px;
}

.follow {
  border-top: 3px solid #efefef;
  border-bottom: 3px solid #efefef;
  margin: 15px 0;
  padding: 15px 0;
  margin-top: 50px;
}

.follow .note {
  color: #aaa;
}

.update{
  border: 1px solid #212121;
  padding: 14px 14px;
  background-color: #FFFDA3;
  background-color: hsla(59, 100%, 82%, 0.3);
  border-color: hsla(59, 100%, 40%, 1);
  margin: 24px 0;

  small {
    display: block;
  }

  p:first-child {
    margin-top: 0px;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.post-meta {
  font-size: 90%;
}

time {
  font-weight: 400;
}

#index-page h1.title {
  // background: rgb(238, 238, 238);
  margin: 0;
  margin-bottom: 20px;
  line-height: 48px;
  font-size: 48px;
  font-weight: 500;
  padding: 20px 60px;
}

#index-page h1.title img {
  z-index: 1;
  vertical-align: bottom;
}

.lists {
  ul {
    clear: left;
    padding: 0;
    padding-left: 20px;
    margin-right: 180px;
  }

  ul.flickr {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    padding: 0;
    float: right;
    width: 160px;
    margin: 0 20px;

    a {
      background: transparent;
      outline: none;
    }

    img {
      display: block;
    }

    li {
      margin: 1px;
      height: 75px;
      width: 75px;
      display: block;
      float: left;
      padding: 0;
      .transition(opacity, 200ms, ease-out)
    }

    &:hover {
      li {
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }

  }

}

small.edit {
  margin-left: 10px;
  font-size: 50%;
  opacity: 0;
  .transition(opacity, 50ms, ease-out);
  position: absolute;
  bottom: 25px;
}

h1:hover small.edit {
  opacity: 0.5;
}

ul.post-nav {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 90%;
  li {
    display: inline;
    padding: 10px 20px;
    float: right;
    padding-right: 20px;

    &.home {
      float: left;
      padding-left: 20px;
    }

    &.next a {
      &:after {
        content: ' »';
      }
    }

    &.prev a {
      &:before {
        content: '« ';
      }

    }
  }
}

small.date {
  font-size: 75%;
  margin-left: 10px;
}


.subpanel {
  background: @subpanel-background;
  color: @subpanel-color;
  a {
    color: lighten(@subpanel-background, 50%);

    &:hover,
    &:focus {
      background-color: #444;
      color: lighten(@subpanel-background, 70%);
      padding: 2px 0;
    }
  }
}


body > footer {
  padding: 10px 60px;
  clear: both;
  font-size: 90%;

  p {
    line-height: 24px;
  }

  ul {
    padding-left: 20px;
  }

  .license p {
    margin-top: 12px;
  }

  .flexbox();
  .flex-flow(row wrap);
  .archives { .flex(2, 7); }
  .links    { .flex(3, 7); }
  .license  { .flex(4, 7); }
}

.warning {
  background: #FF4136;
  padding: 10px 50px;
  color: #fff;
  font-size: 120%;
  font-weight: bold;
  border: 10px dashed darken(#FF4136, 30%)
}

#drafts-index-page {
  .post-content li small {
    margin-left: 10px;
  }
  .inprogress {
    color: lighten(orange, 10%);
  }

  .unfinished {
    color: lighten(#FF4136, 20%);
  }

  .ready {
    color: darken(#2ECC40, 10%);
  }

  li.inactive {
    opacity: 0.5;
  }
}

@media only screen and (max-width: 720px) {
  body {
    font-size: 90%;
    line-height: 28px;
  }

  .post-content,
  .comments {
    margin-left: 0;
    margin-right: 0;
    padding: 0 10px;
  }

  #index-page h1.title,
  #index-page h2.title,
  .post h1.title {
    margin: 0;
    padding: 20px 10px;
  }

  code {
    font-size: 0.8rem;
  }

  ul {
    padding-left: 20px;
  }

  small.edit {
    bottom: 0;
    left: 0;
  }

  .warning {
    padding: 10px;
  }

  body > footer {
    padding: 0 10px;

    p { line-height: 18px; }

    .archives { .flex(1 auto); }
    .links    { .flex(1 auto); }
    .license  { .flex(2 auto); }

  }
}

@media only screen and (max-width: 390px) {
  .elsewhere {
    ul.elsewhere {
      margin-right: 0;
    }
    ul.flickr {
      position: relative;
      width: 310px;
      float: none;
      margin: 20px auto;
      overflow: hidden;
    }
  }
}