* {
  box-sizing: border-box;
}

/** RESET (http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: #212121;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/** Unreset - base elements */

html {
  font-size: 120%;
  background: rgb(0, 0, 0) url(../images/background.png) no-repeat -50px 0px;
}

body {
  padding: 0;
  font: 0.625em 'helvetica neue', arial, sans-serif;
  font-size: 100%;
  font-weight: 200;
  background: rgb(255, 255, 255);
  margin: 0 auto 15px auto;
  max-width: 800px;
}

img {
  max-width: 100%;
}

a {
  color: #00126C;
  text-decoration: underline;
}

a:hover,
a:focus {
  background: #1F296C;
  color: #fff;
  text-decoration: none;
  outline: 3px solid #1F296C;
}


h3, h4, h5, h6 {
  font-weight: 200;
  margin: 16px 0;
}

h1 {
  font-size: 180%;
  font-weight: 600;
}

h2 {
  font-size: 150%;
  margin-top: 40px;
}

h3 {
  font-size: 120%;
}

p {
  margin: 28px 0;
  line-height: 32px;
}

small {
  display: inline-block;
  line-height: 24px;
  font-size: 80%;
}

strong {
  font-weight: bold;
}

blockquote {
  background: #e6e6e6 url(../images/quote.gif) no-repeat -7px bottom;
  padding: 10px;
  margin: 10px 0;
  font-size: 95%;
}

blockquote p {
  margin: 18px 0;
}

em {
  font-style: italic;
}

code {
  font-family: menlo, monaco, courier, 'courier new', 'lucida console', monospace;
}

pre {
  font-family: menlo, monaco, courier, 'courier new', 'lucida console', monospace;
  margin: 10px 0;
}

ol {
  line-height: 1.3;
  list-style-type: decimal;
  list-style-position: outside;
}

ol li {
  margin-left: 22px;
}

ul {
  padding-left: 40px;
  list-style: square;
}

ol, ul {
  margin: 12px 0;
}

li {
  padding: 3px 0;
}

legend {
  color: #ccc;
  font-size: 120%;
  padding: 0 2px;
}

input,
textarea,
select {
  font-family: arial, verdana;
  font-size: 105%;
  padding: 7px;
}

input,
textarea {
  padding: 6px;
  border: 1px solid #aaa;
  background: #fff no-repeat scroll -3px -3px;
}

input:focus,
textarea:focus {
  border: 1px solid #666;
}

label {
  display: block;
  float: left;
  width: 75px;
  margin: 10px 5px 0 0;
}

textarea {
  height: 100px;
  width: 97%;
}

body > footer {
  clear: both;
  padding: 10px;
  color: #444;
  font-size: 90%;
  text-align: center;
  background: black;
}

body > footer p {
  line-height: 24px;
}

body > footer a {
  color: #444;
}

body > footer a:hover,
body > footer a:focus {
  background-color: #444;
  color: #000;
  outline: 2px solid #444;
}

.post h2.title,
.post h1.title {
  background: #eee;
  padding: 20px 60px;
  color: #000;
  margin: 20px 0 20px 0;
}

.post h1.title {
  margin-top: 0;
}

.post h2.title {
  padding: 20px;
}

.post header h2.title {
  padding: 20px 60px
}

.post h2.title a,
.post h1.title a {
  color: black;
  text-decoration: none;
}

.post h2.title a:hover,
.post h2.title a:focus,
.post h1.title a:hover,
.post h1.title a:focus {
  background: none;
  text-decoration: underline;
  outline: none;
}

code {
  background: rgb(232, 230, 230);
  padding: 2px;
  font-size: 0.9rem;
}


pre {
  background: rgb(248, 248, 248);
  /*padding: .576em 1.2em .864em .972em;*/
  /*margin: 0 0 1.667em;*/
  line-height: 1.475;
  /*font-size: 1.05em;*/
  color: #555;
  border: 1px solid #e9e9e9;
  border-radius: 2px;
  direction: ltr;
  text-align: left;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  word-wrap: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
  overflow-x: scroll;
  display: block;
  width: 100%;
  overflow: auto;
  max-width: 100%
}

.hljs {
  background: #EAEEEF;
  color: #555;
}

pre code {
  word-wrap: -moz-break-word;
  word-wrap: break-word;
  white-space: pre;
  word-wrap: normal;
  /*margin: -0.125em 0;*/
  /*padding: 25px !important;*/
  display: table-cell !important;
  /* because iOS is just weird */
  -webkit-text-size-adjust: none;
}

.post-content,
.comments {
  margin: 0 40px 20px 40px;
  padding: 0 20px;
}

.follow {
  border-top: 3px solid #efefef;
  border-bottom: 3px solid #efefef;
  margin: 15px 0;
  padding: 15px 0;
  margin-top: 50px;
}

.follow .note {
  color: #aaa;
}

.update{
  border: 1px solid #212121;
  padding: 5px 14px;
  background-color: #FFFDA3;
  background-color: hsla(59, 100%, 82%, 0.3);
  border-color: hsla(59, 100%, 40%, 1);
  margin: 24px 0;
}

.update small {
  display: block;
}

.post-meta {
  font-size: 90%;
}

time {
  font-weight: 400;
}

#index-page h1.title {
  background: rgb(238, 238, 238);
  margin: 0;
  margin-bottom: 20px;
  line-height: 48px;
  font-size: 48px;
  font-weight: 500;
  padding: 20px 60px;
}

#index-page h1.title img {
  z-index: 1;
  vertical-align: bottom;
}

ul.elsewhere {
  clear: left;
  padding: 0;
  padding-left: 13px;
}

ul.flickr {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  float: right;
  width: 160px;
  margin-bottom: 20px;
}

ul.flickr li {
  margin: 1px;
}

small.edit {
  margin-left: 10px;
  font-size: 50%;
  opacity: 0.5;
}

ul.post-nav {
  overflow: hidden;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 90%;
}

ul.post-nav li {
  display: inline;
  padding-top: 20px;
}

ul.post-nav li.prev {
  float: left;
  padding-bottom: 20px;
  padding-left: 20px;
}

ul.post-nav li.prev:before {
  content: '« ';
}

ul.post-nav li.next {
  float: right;
  padding-right: 20px;
}

ul.post-nav li.next:after {
  content: ' »';
}

@media only screen and (max-width: 1024px) {
  .post-content, 
  .comments { 
    margin-left: 0; 
    margin-right: 0; 
    padding: 0 10px;
  }
  
  #index-page h1.title,
  #index-page h2.title,
  .post h1.title {
    margin: 0;
    padding: 10px;
  }
  
  body > footer {
    font-size: 80%;
  }
  
}