@background-color: #fafafa;
@subpanel-background: lighten(black, 10%);
@subpanel-color: lighten(@subpanel-background, 41%);
// #828282
@code-background: #f3f3f3; //rgb(63, 63, 63);
@code-foreground: darken(@code-background, 80%);
@code-font: 'ubuntu mono', menlo, monaco, consolas, courier, 'courier new', 'lucida console',
monospace;
@cta-color: #1b95e0;
@link-color: rgb(21, 101, 192);
@main-font-color: #212121;
@flickr-width: 40%;
// @flickr-width: 235px;
 // #00126c;
