---
project: '{{ dirname }}'
title: 'Next Go Mummy devlog'
permalink: /devlog/{{ dirname }}/index.html
---

:markdown
  With fond memories of Amsoft's Oh Mummy, and being a Spectrum boy myself, I decided it was high time to bring Oh Mummy to the Spectrum and push NextBASIC to see exactly how fast this thing can go!

  **The story**

  Back in 1984 a party of archaeologists went on search for lost treasures, and yet they found themselves simply crying _"Oh Mummy!"_.

  In the modern day, you're tasked with the job of rescuing the original 1984 archaeologist party from their failed pyramid plundering.
  You must navigate five catacombs, avoiding the guardians, rescue those muppets and bring them back to Blighty.

  Surround the tombs to reveal their contents and remember: don't get chomped!

  [Available to download for free or with a donation](https://remysharp.itch.io/go-mummy)

  **Status: complete**

div.flex
  div
    h2 Devlog entries
    include /_partials/devlog
  div
    h2 Screens
    iframe.mby8(width="560" height="315" src="https://www.youtube-nocookie.com/embed/kPbxG02f5G0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    img.mby8(src="/images/devlog/ohm-2020-08-02.png")
    img.mby8(src="/images/devlog/ohm-2020-07-20a.png")
