---
project: '{{ dirname }}'
title: 'Next Oh Mummy devlog'
permalink: /devlog/{{ dirname }}/index.html
---

:markdown
  With fond memories of Amsoft's Oh Mummy, and being a Spectrum boy myself, I decided it was high time to bring Oh Mummy to the Spectrum via NextBASIC.

  **The story**

  Back in 1984 a party of archaeologist went on search for lost treasures, and yet they found themselves simply crying _"Oh Mummy!"_.

  In the modern day, you're tasked with the job of rescuing the original 1984 archaeologist party from their failed pyramid plundering.
  You must navigate five catacombs, avoiding the guardians, rescue those muppets and bring them back to Blighty.

  Surround the tombs to reveal their contents and remember: don't get chomped!

div.flex
  div
    h2 Devlog entries
    include /_partials/devlog
  div
    h2 Screens
    img(src="/images/devlog/ohm-2020-08-02.png")
    img(src="/images/devlog/ohm-2020-07-20a.png")
