extends _partials/layout

block content
  main.content
    if current.source === 'index'
      != yield
    else
      - var altTitle = '';
      - if (yield) yield = yield.replace(/<h1>(.*?)<\/h1>/, function (all, match) { if (match) altTitle = match; return '' });
      article.post
        h1(data-edit=`https://github.com/remy/remysharp.com/blob/master/public/${current.source}.md`).title
          if title
            a(href=`/${current.source}`)= title
          else
            a(href=`/${current.source}`)= altTitle

        .post-content
          block body
          - if (yield) yield = yield.replace(/<h1>.*?<\/h1>/, '');
          != yield

        if _data && _data[current.source] && _data[current.source].comments
          - url = current.url
          - commentsTitle = _data[current.source].commentsTitle || "Comments"
          include /_partials/comments
