extends _partials/layout

block content
  main.content(role="main")
    if current.source === 'index'
      != yield
    else
      - var altTitle = '';
      - if (yield) yield = yield.replace(/<h1>(.*?)<\/h1>/, function (all, match) { if (match) altTitle = match; return '' });
      article.post
        h1.title
          if title
            a(href="/#{current.source}")= title
          else
            a(href="/#{current.source}")= altTitle
          small.edit: a(href="https://github.com/remy/remysharp.com/blob/master/public/#{current.source}.md") (edit)

        .post-content
          - if (yield) yield = yield.replace(/<h1>.*?<\/h1>/, '');
          != yield
