h1 🔌 Offline

:marked
  It looks like there's no connection to my website right now, but if you want, you can check out these posts that you have available for offline reading.

ul#offline-posts

script.
  whenReady.push(() => listPages())


:marked
  You can also send me [feedback](/feedback) when you get back online if it was important.
