doctype xml
OpenSearchDescription(xmlns="http://a9.com/-/spec/opensearch/1.1/")
  ShortName #{ site_title }
  description #{ site_description }
  Url(type="text/html" method="get" template="https://remysharp.com/search?s={searchTerms}")
  Image(width="16" height="16") https://remysharp.com/favicon.ico
  InputEncoding UTF-8
  SearchForm https://remysharp.com
