script(defer src="/js/search-data.js")
script(defer src="/js/search.js")

h1 Search

form#primary-search.search(action="https://www.google.co.uk/search")
  label Search for:&nbsp;
    input#for(autofocus name="q" placeholder="fragment of post...", type="text")
    input(type="hidden" name="q" id="q" value="site:https://remysharp.com")

ul#search-results

script#result-template(type="template")
  |<li>
  |  <a href="{{url}}">{{title}}</a> <time datetime="{{date}}" class="date">{{niceDate}}</time><!-- weight {{count}} -->
  |</li>
