script(src="/js/search-data.js")
script(defer src="/js/search.js")

h1 Search

form.search
  label Search for:&nbsp;
    input#for(autofocus name="search" placeholder="fragment of post...", type="text")

ul#search-results

script#result-template(type="template")
  |<li>
  |  <a href="{{url}}">{{title}}</a> <time datetime="{{date}}" class="date">{{niceDate}}</time><!-- weight {{count}} -->
  |</li>
