h1 Subscribe

script(async id="_ck_231094" src="https://forms.convertkit.com/231094?v=6")


//- :marked
//-   #### Want more?

//-   I'm also currently developing an online video workshop of my Mastering Browser Devtools class. Here's just some of the topics covered in the workshop:

//-   - **Workflow**: How to make DevTools your development IDE
//-   - **Console**: Going way beyond console.log
//-   - **Memory leaks**: Identify and remediate
//-   - **Network**: What is slow, why and the detail behind a request
//-   - **Performance**: How to read and investigate rendering issues
//-   - **Mobile &amp; responsive**: Using the tools you know to debug tiny machines

//-   Subscribe today for posts, web development learnings &amp; insights, exclusive workshop and training discounts and more, direct to your inbox.

//- form(action="//remysharp.us13.list-manage.com/subscribe/post?u=c3ac6dd00a3b2269a6634560c&amp;id=56328dedcb" method="post" target="_blank" novalidate)#subscribe-form.row
//-   div
//-     input(type="email" placeholder="Email Address" value="" name="EMAIL" class="required email").c1
//-   div
//-     input(type="submit" value="Subscribe today" name="subscribe" class="button").c1
//-   div(style="position: absolute; left: -5000px;" aria-hidden="true")
//-     input(type="text" name="b_c3ac6dd00a3b2269a6634560c_56328dedcb" tabindex="-1" value="")
