/*
 browser zoom: default
 OS font size: default
 Display size: default
*/

html {
  -webkit-text-size-adjust: 100%;
}

.btn {
  display: inline-block;

  /* next 2 lines force height of button */
  height: 56px; 
  line-height: 56px;


  color: #FAFAFA;
  background-color: #2196F3;
}






html {
  padding-top: 10vh;
  padding-left: 10vh;
  background: grey;
  font-size: 1.2rem;
}