a#code-sponsor-widget.ad.cs__wrapper(href="https://codesponsor.io" target="_blank")
  .cs__header Proudly sponsored by
  span.cs__blurb
    strong CodeSponsor.io
    span - get paid by adding one line of code to your README
  div.cs__footer powered by codesponsor.io
  img.cs__pixel
