a(href="https://2017.ffconf.org/workshop-next?utm_source=blog&utm_medium=banner&utm_campaign=remysharp-ad1")
  img(src="/images/workshop-remy.jpg")
  div
    p
      span.label Book now
      strong Modern Universal React with Next.js
    p.desc Stop worrying about configuration, code splitting, and complex codebases: Next.js makes SSR with React easy. Book your masterclass today.
    p
      strong
        span.like-link Limited places. Brighton 7th Nov
