a(href="https://2016.ffconf.org/?utm_source=blog&utm_medium=banner&utm_campaign=2016").ffconf-ad
  img(src="/images/ffconf-2016-photos-square.jpg")
  div
    p
      strong Attend ffconf 2016
    p The UK's best JS and web development conference. Find out more & get tickets.
