ul
  li: a(href="/about") About Remy
  li: a(href="/work") Work with Remy
  li: a(href="/speaking") Speaking & Training
  li: a(href="/links") Links
  li: a(href="/projects") Projects
  li: a(href="/newsletters") Newsletters
  li: a(href="/popular") Popular Posts
  li: a(href="/books") Books I've Read
  li: a(href="/ethos") Ethos (WIP)
  li: a(href="/house-rules") House Rules
  li: a(href="/attic") The Attic
  li: a(target="_blank" href="/feed.xml") RSS feed
  li: a(target="_blank" rel="noopener me" href="https://github.com/remy") On GitHub
  li: a(target="_blank" rel="noopener me" href="https://twitter.com/rem") On Twitter
  li: strong: a(href="/search") Search
