:marked
  I'm a JavaScript developer working professionally on the web since 1999. I run my own [consultancy](/work), build products, run training, speak at conferences and curate the UK's best [Web & JavaScript conference](https://ffconf.org). You can **[hire me](/work)** too.
