include notice
if current.path.indexOf('blog') === -1 && current.path+'' !== 'index'
  - post = collections.latest
  nav.main-nav.clearfix.subpanel
    include search
    ul.post-nav
      li.left.home: a(href="/") Home
      //- li.left.donate
      //-   a(href="https://www.paypal.me/rem" target="_blank" title="Show your thanks")
      //-     span.liked
      li.left.search: a#search(href="#search") Search

      li.next: a(href=`${ post.url }` title=`${ post.data.title }`) Latest post
