if current.path.indexOf('blog') === -1 && current.path+'' !== 'index'
  post = partial('posts', { postlimit: 1 })[0]
  nav.main-nav.clearfix.subpanel
    != partial('../_partials/search')
    ul.post-nav
      li.home: a(href="/") Home
      li.search: a#search(href="#search") Search
      li.next: a(href="#{ post.relative }" title="#{ post.title }") Latest post