- var blog = public.blog || public.public.blog;
- return Object.keys(blog._data).map(function (slug) {
-   var post = blog._data[slug];
-   post.slug = slug;
-   post.url = site_url + '/' + moment(post.date).format('YYYY/MM/DD') + '/' + post.slug;
-   post.relative = '/' + moment(post.date).format('YYYY/MM/DD') + '/' + post.slug;
-   return post;
- }).sort(function(a,b){
-   if (!a.date) return 0;
-   a = +new Date(a.date);
-   b = +new Date(b.date);
-   return a-b;
- }).reverse().filter(function (post) {
-   if (environment == "production" && post.published===false) {
-     return false;
-   }
-   if (filter) {
-      return filter(post);
-   }
-   return post;
- }).slice(0, postlimit)