form#inline-search(aria-hidden="true" action="/search.html").search
  input(aria-label="Search for text in a blog post" type="text", name="q", placeholder="Search for...")
  input(type="submit", value="Search")
