.social-badge.ltr.ready.hcount.count-ready
  .btn-o
    a#follow-button.btn(href="https://bsky.app/profile/remysharp.com")
      i
      span#l.label Follow&nbsp;
        b rem
  #c.count-o
    i
    u
    a#count.note(href="https://bsky.app/profile/remysharp.com") #{ collections.twitter.formatted_followers_count }
