.social-badge.ltr.ready.hcount.count-ready
  .btn-o
    a#follow-button.btn(href="https://twitter.com/intent/user?screen_name=rem")
      i
      span#l.label Follow&nbsp;
        b @rem
  #c.count-o
    i
    u
    a#count.note(href="https://twitter.com/intent/user?screen_name=rem") #{ collections.twitter.formatted_followers_count }
