form(action="//remysharp.us13.list-manage.com/subscribe/post?u=c3ac6dd00a3b2269a6634560c&amp;id=56328dedcb" method="post" target="_blank" novalidate)#subscribe-form.row
  .c2.s1
    h4 Want more?
    p Posts, web development learnings &amp; insights, exclusive workshop and training discounts and more, direct to your inbox.
  .c2.s1
    input(type="email" placeholder="Email Address" value="" name="EMAIL" class="required email").c1
    input(type="submit" value="Subscribe today" name="subscribe" class="button").c1
    div(style="position: absolute; left: -5000px;" aria-hidden="true")
      input(type="text" name="b_c3ac6dd00a3b2269a6634560c_56328dedcb" tabindex="-1" value="")
