- tag = filter; // === undefined ? current.path.slice(-2, -1)[0] : filter;
- posts = [];// collections.tags[tag].slice(0)
.post
  h1.title Tagged with "#{ tag }"
  .post-content
    ul
      while posts.length
        - post = posts.shift()
        if post.date
          li
            a(href="#{ post.relative }") #{ post.title }
            small.date &nbsp; #{ moment(post.date).format('D-MMM YYYY')}
