a.cta(rel="nofollow" href="https://training.leftlogic.com/buy/terminal/cli2?coupon=READERS-DISCOUNT&utm_source=blog&utm_medium=banner&utm_campaign=remysharp-discount")
  img(src="/images/terminal-600.jpg")
  div
    p
      span.label READER DISCOUNT
      strong Save $80 on terminal.training
    p.desc I've published 38 videos for new developers, designers, UX, UI, product owners and anyone who needs to conquer the command line today.
    p
      strong
        span.like-link $19 - only from this link
