* {
  font-family: sans-serif;
}

html {
  font-size: 1rem;
  padding: 1rem;
  padding-top: 10vh;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

code, .code {
  font-family: monospace;
  font-size: 1.1rem;
  background: #eee;
  padding: 2px;
}

h1 img {
  height: 38px;
  vertical-align: bottom;
}
