- posts = Object.keys(public.drafts._data).map(function (slug) {
-   var post = public.drafts._data[slug];
-   post.slug = slug;
-   post.modified = modified('/drafts/' + slug);
-   return post
- }).sort(function(a,b){
-   return a.modified - b.modified
- }).reverse()

ul
  for post in posts
    if (post.date)
      li
        a(href="/drafts/#{ post.slug }") #{ post.title }
        small.date Last edited: #{ moment( post.modified ).format('D-MMM YYYY')}