- ready = 0;
- posts = Object.keys(public.drafts._data).map(function (slug) {
-   var post = public.drafts._data[slug];
-   post.slug = slug;
-   if (post.complete) ready++;
-   return post
- }).sort(function(a,b){
-   return a.modified < b.modified ? 1 : -1
- })

p
  em #{ready} posts ready to publish.

ul
  for post in posts
    if (post.title)
      li(class=post.inprogress || post.complete ? 'active' : 'inactive')
        a(href="/drafts/#{ post.slug }")= post.title
        small.date Last edited: #{ moment( post.modified ).format('D-MMM YYYY')}
        if (post.inprogress)
          small.inprogress in progress
        else if (post.complete)
          small.ready ready
