.post-content
  p Below are all the newsletters I've sent since 2017. You can't subscribe at the moment, because I've not sent any in a long time!

- last = null
- year = null
- index = 0;
- post = collections.newsletters[0]
a(name="content")
while post
  if post.data.date
    if !year || moment(post.data.date).format('yyyy') == year
      - month = moment(post.data.date).format('MMMM')
      - postYear = moment(post.data.date).format('yyyy')
      if !year && last != postYear
        h1.title= postYear
        - last = postYear
      .post-content
        ul
          while post && (!postYear || moment(post.data.date).format('yyyy') == postYear)
            if post && post.data.date
              li
                a(href=`/newsletters/${ post.slug }/`)= moment(post.data.date).format('MMMM')
            - post = collections.newsletters[index += 1];
    else
      - post = collections.newsletters[index += 1];
  else
    - post = collections.newsletters[index += 1];
